a {
  color: white;
  text-decoration: none;
}

.album_subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-left: 15px;
}

.slider-li {
  background-color: rgba(10, 10, 10, 0.4);
  height: 300px;
  list-style: none;
  margin-right: 20px;
}

.slider-li:hover {
  transform: translateY(-20px);
}

.slider-img {
  margin: auto;
  max-width: 200px;
  vertical-align: top;
}

.slider-h2 {
  font-size: 20px;
  margin-left: 15px;
  margin-top: 20px;
}
