.album-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 15px;
}

.artist-container {
  color: rgb(136, 136, 136);
}

.music-card {
  display: flex;
  flex-direction: column;
}

.album-cover {
  margin-bottom: 20px;
  min-width: 250px;
}

.album-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.album-subtitle {
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 1.5pt;
}
