@import '../App.css' ;

.section {
  text-align: center;
}

.column-img {
  margin-top: 25%;
  margin-bottom: 30px;
}

.column {
  flex-direction: column;
}

.login_box {
  background: rgba(18, 18, 18, 1);
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 314px;
  margin: 0 auto;
  overflow: hidden;
  width: 70%;
}

.login_inside {
  align-items: center;
  width: 60%;
}

.login_title {
  color: rgb(117, 117, 117);
  flex-wrap: wrap;
  font-family: Source Sans Pro , sans-serif;
  font-size: 28px;
  margin-top: 100px;
}

img {
  align-self: center;
  width: 150px;
}

input {
  background-color: rgb(51, 51, 51);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 1.3em;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

label {
  color: white;
}

.enter-btn {
  background-color: rgb(155, 81, 224);
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 20px;
  padding: 12px 25px;
  width: 100%;
}

.enter-btn:hover {
  background-color: rgb(191, 122, 255);
  cursor: pointer;
}

.enter-btn:disabled {
  background-color: rgb(54, 41, 59);
  color: rgb(64, 57, 68);
  cursor: pointer;
}
