@import '../../App.css' ; 

header {
  background-color: rgb(80, 80, 80);
  display: block;
  height: 60px;
  width: 100vw;
}

nav {
  background-color: rgba(161, 11, 11, 0.644);
  display: block;
  height: 70%;
}

nav > a {
  color: white;
  margin-right: 30px;
  padding: 20px;
  text-decoration: none;
}

nav > a:hover {
  color: rgb(172, 228, 19);
}

.search-btn {
  background-color: rgb(155, 81, 224);
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 20px;
  padding: 15px;
}

.search-btn:hover {
  background-color: rgb(191, 122, 255);
  cursor: pointer;
}

.search-btn:disabled {
  background-color: rgb(54, 41, 59);
  color: rgb(64, 57, 68);
  cursor: pointer;
}
