@import '../../App.css' ;

header {
  background-color: rgb(37, 37, 37);
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 100vw;
}

header > a {
  display: flex;
}

span {
  color: white;
}

nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

nav > a {
  color: white;
  margin-right: 30px;
  padding: 20px;
  text-decoration: none;
}

nav > a:hover {
  color: rgb(172, 228, 19);
}

.search-btn {
  background-color: rgb(82, 0, 160);
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 20px;
  padding: 15px;
}

.search-btn:hover {
  background-color: rgb(95, 49, 139);
  cursor: pointer;
}

.search-btn:disabled {
  background-color: rgb(54, 41, 59);
  color: rgb(64, 57, 68);
  cursor: pointer;
}

.header_img {
  width: 90px;
}

.user_area {
  align-items: center;
  background-color: rgba(24, 24, 24, 0.5);
  border-radius: 10px;
  display: flex;
  height: 70%;
  justify-content: center;
  margin: auto 0;
}

.user_name {
  align-items: center;
  color: rgb(149, 149, 149);
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}

.user_name:hover {
  color: rgb(172, 228, 19);
}
